.top-header {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1.25rem;
}
.logo img {
  width: 90px;
  height: auto;
  vertical-align: middle;
}
.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.Menu-Horizontal li {
  display: block;
  color: rgb(255, 0, 191);
  padding: 0.989rem 1.25rem;
}
.Menu-Horizontal li:hover {
  color: aquamarine;
}
.Menu-Vetical {
  padding: 0;
  position: absolute;
  display: none;
  list-style: none;
  width: 12.5rem;
  background-color: white;
}
.Menu-Horizontal li:hover .Menu-Vetical {
  display: block;
}
.Menu-Vetical li {
  color: white;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
}

/*seccion inicio*/
.seccion-inicio {
  padding: 3.75rem 1.25rem;
  background-color: white;
}
.cont-gral-inicio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  gap: 2.5rem;
}
.cont-ini-texto {
  flex: 1;
}
.cont-ini-texto h2 {
  color: red;
  margin-bottom: 0.938rem;
}

.cont-ini-texto p {
  color: black;
  line-height: 1.5;
}
.cont-ini-img {
  flex: 1;
  text-align: center;
}

.cont-ini-img img {
  width: 100;
  max-width: 75rem;
}

/*seccion servicio*/
.seccion-servicio {
  padding: 3.75rem 1.25rem;
  background-color: white;
}

.cont-gral-servicio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  gap: 40px;
}
.cont-ini-texto {
  flex: 1;
}
.cont-ini-texto h3 {
  color: red;
  margin-bottom: 0.938;
}

.cont-ini-texto p1 {
  color: black;
  line-height: 1.5;
}
.cont-ini-video {
  flex: 1;
  text-align: center;
}
.cont-ini-video video {
  width: 350;
  max-width: 700;
}
/*SECCION FORMULARIO*/
.seccion-formulario {
  background-color: white;
  width: 100%;
  padding: 3.125rem 1.25rem;
  display: flex;
  justify-content: center;
}
.div-cont-formulario {
  background-color: #ccc;
  padding: 1.875rem;
  border-radius: 3.75rem;
  width: 100%;
  max-width: 31.25rem;
}
.div-cont-formulario h2 {
  color: red;
  margin-bottom: 1.25rem;
}

.Formulario .Campo {
  margin-bottom: 0.625rem;
}
.Formulario label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.Formulario input[type="text"],
.Formulario select {
  width: 100%;
  padding: 0.625rem;
  border: 1px solid #e9e5e5;
  border-radius: 0.313rem;
  font-size: 1rem;
}
.lista-checkbox,
.lista-radio {
  list-style: none;
  padding: 0;
  margin: 0;
}
.lista-checkbox li,
.lista-radio li {
  margin-bottom: 0.5rem;
}
.lista-checkbox input,
.lista-radio input {
  margin-right: 0.5rem;
}
.Formulario button {
  background-color: white;
  color: black;
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.438rem;
  cursor: pointer;
  font-size: 0.938rem;
}
